.sidebar{
width:270px;
height:100vh;
background:#08152d;
display:flex;
flex-direction:column;
justify-content:space-between;
padding:25px;
position:fixed;
left:0;
top:0;
}

.logo{
display:flex;
align-items:center;
gap:12px;
margin-bottom:40px;
}

.logo h2{
color:white;
margin:0;
font-size:30px;
font-weight:700;
}

.logo span{
color:#8aa4d4;
font-size:14px;
}

.logo-icon{
color:#32d296;
}

.menu{
display:flex;
flex-direction:column;
gap:15px;
}

.menu-item{
display:flex;
align-items:center;
gap:15px;
padding:16px;
border:none;
background:transparent;
color:white;
border-radius:14px;
cursor:pointer;
font-size:17px;
transition:.3s;
}

.menu-item:hover{
background:#14335d;
transform:translateX(5px);
}

.active{
background:linear-gradient(135deg,#2d6cdf,#4d79ff);
}

.sidebar-bottom{
display:flex;
flex-direction:column;
gap:20px;
}

.student-card{
background:#132a4f;
padding:18px;
border-radius:16px;
display:flex;
gap:15px;
align-items:center;
}

.avatar{
height:55px;
width:55px;
border-radius:50%;
background:#3b82f6;
display:flex;
justify-content:center;
align-items:center;
color:white;
font-size:22px;
font-weight:bold;
}

.student-card h4{
margin:0;
color:white;
}

.student-card span{
color:#8aa4d4;
font-size:14px;
}

.logout-btn{
background:#ef4444;
color:white;
border:none;
padding:15px;
border-radius:12px;
font-size:16px;
cursor:pointer;
display:flex;
justify-content:center;
align-items:center;
gap:10px;
transition:.3s;
}

.logout-btn:hover{
background:#dc2626;
}